
<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-content-center">
    <ion-row>
      <ion-col size="12" size-lg="4" size-="6">
        <img class="foto-perfil" src="{{this.perfil.foto}}" alt="">
      </ion-col>
      <ion-col size="12" size-lg="8">
        <ion-item class="titulo-nome">{{this.perfil.nome}}</ion-item>
        <ion-item class="titulo-funcao">{{this.perfil.profissao}}</ion-item>
        <ion-item>{{this.perfil.perfil_id}}</ion-item>
        <ion-item>{{this.perfil.idiomas}}</ion-item>
        <ion-item>{{this.perfil.cidade}}</ion-item>
        <ion-item>{{this.perfil.desde}}</ion-item>
      </ion-col>
    </ion-row>
  </ion-row>
      
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="5">
        <h1>Biografia</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="4"><h5>{{this.perfil.biografia}}</h5></ion-col>
    </ion-row>
    <ion-item-divider></ion-item-divider>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="2">
        <ion-item><ion-label class="align-center titulo-info">{{this.perfil.curtidas}}</ion-label></ion-item>
        <ion-item><ion-label class="align-center">Curtidas</ion-label></ion-item>
      </ion-col>

      <ion-col size="12" size-lg="2">
        <ion-item><ion-label class="align-center titulo-info">{{this.perfil.seguindo}}</ion-label></ion-item>
        <ion-item><ion-label class="align-center">Seguindo</ion-label></ion-item>
      </ion-col>

      <ion-col size="12" size-lg="2">
        <ion-item><ion-label class="align-center titulo-info">{{this.perfil.amigos}}</ion-label></ion-item>
        <ion-item><ion-label class="align-center">Amigos</ion-label></ion-item>
      </ion-col>
    </ion-row>

    <ion-item-divider></ion-item-divider>

    
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="5">
        <h1>Postagens de Amigos</h1>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-margin-top">
      <img class="foto-perfil-post" src="{{this.postagens.amigo1.foto}}" alt="">
      <ion-col size="12" size-lg="4" size-="6">
        <ion-item>
          <h2>{{this.postagens.amigo1.nome}}</h2>
          <ion-label>{{this.postagens.amigo1.nome_usuario}}</ion-label>
        </ion-item>
        <ion-item><p>{{this.postagens.amigo1.post}}</p></ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item-divider></ion-item-divider>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-margin-top">
      <img class="foto-perfil-post" src="{{this.postagens.amigo2.foto}}" alt="">
      <ion-col size="12" size-lg="4" size-="6">
        <ion-item>
          <h2>{{this.postagens.amigo2.nome}}</h2>
          <ion-label>{{this.postagens.amigo2.nome_usuario}}</ion-label>
        </ion-item>
        <ion-item><p>{{this.postagens.amigo2.post}}</p></ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item-divider></ion-item-divider>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-margin-top">
      <img class="foto-perfil-post" src="{{this.postagens.amigo3.foto}}" alt="">
      <ion-col size="12" size-lg="4" size-="6">
        <ion-item>
          <h2>{{this.postagens.amigo3.nome}}</h2>
          <ion-label>{{this.postagens.amigo3.nome_usuario}}</ion-label>
        </ion-item>
        <ion-item><p>{{this.postagens.amigo3.post}}</p></ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item-divider></ion-item-divider>
      </ion-col>
    </ion-row>

  </ion-content>