* {
    // outline: 1px solid red;
}

.foto-perfil {
    border-radius: 16px;
    outline: 3px solid red;
    width: 250px;
    height: 250px;
}

.titulo-nome {
    font-size: 3rem;
}

.titulo-funcao {
    font-size: 2rem;
}

.titulo-info {
    font-size: 2rem;
}

.align-center {
    text-align: center;
}

.foto-perfil-post {
    border-radius: 16px;
    outline: 3px solid red;
    width: 150px;
    height: 150px;
}
