.fundo {
    background-image: url('https://t.ctcdn.com.br/85ON2JeX5xt5U-BSEmZT6ZTOciU=/640x360/smart/i247850.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    outline: 1px solid #fff;
    min-height: 80vh;
}

.chrome {
    background-image: url('https://cdn3.iconfinder.com/data/icons/logos-brands-3/24/logo_brand_brands_logos_chrome-256.png');   
}

.opera {
    background-image: url('https://cdn3.iconfinder.com/data/icons/logos-brands-3/24/logo_brand_brands_logos_opera-256.png');
}

.firefox {
    background-image: url('https://cdn3.iconfinder.com/data/icons/logos-brands-3/24/logo_brand_brands_logos_firefox-512.png');
}

.edge {
    background-image: url('https://cdn1.iconfinder.com/data/icons/logotypes/32/internet-explorer-256.png');
}

